.markdown-content pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 0.5rem;
}

.markdown-content code.hljs {
  padding: 3px 5px;
}

.markdown-content .hljs {
  background: var(--code-block-background);
}

.code-theme-github-dark .hljs {
  color: #c9d1d9;
}

.code-theme-github-dark .hljs-doctag,
.code-theme-github-dark .hljs-keyword,
.code-theme-github-dark .hljs-meta .hljs-keyword,
.code-theme-github-dark .hljs-template-tag,
.code-theme-github-dark .hljs-template-variable,
.code-theme-github-dark .hljs-type,
.code-theme-github-dark .hljs-variable.language_ {
  color: #ff7b72;
}

.code-theme-github-dark .hljs-title,
.code-theme-github-dark .hljs-title.class_,
.code-theme-github-dark .hljs-title.class_.inherited__,
.code-theme-github-dark .hljs-title.function_ {
  color: #d2a8ff;
}

.code-theme-github-dark .hljs-attr,
.code-theme-github-dark .hljs-attribute,
.code-theme-github-dark .hljs-literal,
.code-theme-github-dark .hljs-meta,
.code-theme-github-dark .hljs-number,
.code-theme-github-dark .hljs-operator,
.code-theme-github-dark .hljs-variable,
.code-theme-github-dark .hljs-selector-attr,
.code-theme-github-dark .hljs-selector-class,
.code-theme-github-dark .hljs-selector-id {
  color: #79c0ff;
}

.code-theme-github-dark .hljs-regexp,
.code-theme-github-dark .hljs-string,
.code-theme-github-dark .hljs-meta .hljs-string {
  color: #a5d6ff;
}

.code-theme-github-dark .hljs-built_in,
.code-theme-github-dark .hljs-symbol {
  color: #ffa657;
}

.code-theme-github-dark .hljs-comment,
.code-theme-github-dark .hljs-code,
.code-theme-github-dark .hljs-formula {
  color: #8b949e;
}

.code-theme-github-dark .hljs-name,
.code-theme-github-dark .hljs-quote,
.code-theme-github-dark .hljs-selector-tag,
.code-theme-github-dark .hljs-selector-pseudo {
  color: #7ee787;
}

.code-theme-github-dark .hljs-subst,
.code-theme-github-dark .hljs-emphasis,
.code-theme-github-dark .hljs-strong {
  color: #c9d1d9;
}

.code-theme-github-dark .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}

.code-theme-github-dark .hljs-bullet {
  color: #f2cc60;
}

.code-theme-github-dark .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.code-theme-github-dark .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

.code-theme-github-light .hljs {
  color: #24292e;
}

.code-theme-github-light .hljs-doctag,
.code-theme-github-light .hljs-keyword,
.code-theme-github-light .hljs-meta .hljs-keyword,
.code-theme-github-light .hljs-template-tag,
.code-theme-github-light .hljs-template-variable,
.code-theme-github-light .hljs-type,
.code-theme-github-light .hljs-variable.language_ {
  color: #d73a49;
}

.code-theme-github-light .hljs-title,
.code-theme-github-light .hljs-title.class_,
.code-theme-github-light .hljs-title.class_.inherited__,
.code-theme-github-light .hljs-title.function_ {
  color: #6f42c1;
}

.code-theme-github-light .hljs-attr,
.code-theme-github-light .hljs-attribute,
.code-theme-github-light .hljs-literal,
.code-theme-github-light .hljs-meta,
.code-theme-github-light .hljs-number,
.code-theme-github-light .hljs-operator,
.code-theme-github-light .hljs-variable,
.code-theme-github-light .hljs-selector-attr,
.code-theme-github-light .hljs-selector-class,
.code-theme-github-light .hljs-selector-id {
  color: #005cc5;
}

.code-theme-github-light .hljs-regexp,
.code-theme-github-light .hljs-string,
.code-theme-github-light .hljs-meta .hljs-string {
  color: #032f62;
}

.code-theme-github-light .hljs-built_in,
.code-theme-github-light .hljs-symbol {
  color: #e36209;
}

.code-theme-github-light .hljs-comment,
.code-theme-github-light .hljs-code,
.code-theme-github-light .hljs-formula {
  color: #6a737d;
}

.code-theme-github-light .hljs-name,
.code-theme-github-light .hljs-quote,
.code-theme-github-light .hljs-selector-tag,
.code-theme-github-light .hljs-selector-pseudo {
  color: #22863a;
}

.code-theme-github-light .hljs-subst,
.code-theme-github-light .hljs-emphasis,
.code-theme-github-light .hljs-strong {
  color: #24292e;
}

.code-theme-github-light .hljs-section {
  color: #005cc5;
  font-weight: 700;
}

.code-theme-github-light .hljs-bullet {
  color: #735c0f;
}

.code-theme-github-light .hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.code-theme-github-light .hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

.code-theme-atom-one-dark .hljs {
  color: #abb2bf;
}

.code-theme-atom-one-dark .hljs-comment,
.code-theme-atom-one-dark .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.code-theme-atom-one-dark .hljs-doctag,
.code-theme-atom-one-dark .hljs-keyword,
.code-theme-atom-one-dark .hljs-formula {
  color: #c678dd;
}

.code-theme-atom-one-dark .hljs-section,
.code-theme-atom-one-dark .hljs-name,
.code-theme-atom-one-dark .hljs-selector-tag,
.code-theme-atom-one-dark .hljs-deletion,
.code-theme-atom-one-dark .hljs-subst {
  color: #e06c75;
}

.code-theme-atom-one-dark .hljs-literal {
  color: #56b6c2;
}

.code-theme-atom-one-dark .hljs-string,
.code-theme-atom-one-dark .hljs-regexp,
.code-theme-atom-one-dark .hljs-addition,
.code-theme-atom-one-dark .hljs-attribute,
.code-theme-atom-one-dark .hljs-meta .hljs-string {
  color: #98c379;
}

.code-theme-atom-one-dark .hljs-attr,
.code-theme-atom-one-dark .hljs-variable,
.code-theme-atom-one-dark .hljs-template-variable,
.code-theme-atom-one-dark .hljs-type,
.code-theme-atom-one-dark .hljs-selector-class,
.code-theme-atom-one-dark .hljs-selector-attr,
.code-theme-atom-one-dark .hljs-selector-pseudo,
.code-theme-atom-one-dark .hljs-number {
  color: #d19a66;
}

.code-theme-atom-one-dark .hljs-symbol,
.code-theme-atom-one-dark .hljs-bullet,
.code-theme-atom-one-dark .hljs-link,
.code-theme-atom-one-dark .hljs-meta,
.code-theme-atom-one-dark .hljs-selector-id,
.code-theme-atom-one-dark .hljs-title {
  color: #61aeee;
}

.code-theme-atom-one-dark .hljs-built_in,
.code-theme-atom-one-dark .hljs-title.class_,
.code-theme-atom-one-dark .hljs-class .hljs-title {
  color: #e6c07b;
}

.code-theme-atom-one-dark .hljs-link {
  text-decoration: underline;
}

.code-theme-atom-one-light .hljs {
  color: #383a42;
}

.code-theme-atom-one-light .hljs-comment,
.code-theme-atom-one-light .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.code-theme-atom-one-light .hljs-doctag,
.code-theme-atom-one-light .hljs-keyword,
.code-theme-atom-one-light .hljs-formula {
  color: #a626a4;
}

.code-theme-atom-one-light .hljs-section,
.code-theme-atom-one-light .hljs-name,
.code-theme-atom-one-light .hljs-selector-tag,
.code-theme-atom-one-light .hljs-deletion,
.code-theme-atom-one-light .hljs-subst {
  color: #e45649;
}

.code-theme-atom-one-light .hljs-literal {
  color: #0184bb;
}

.code-theme-atom-one-light .hljs-string,
.code-theme-atom-one-light .hljs-regexp,
.code-theme-atom-one-light .hljs-addition,
.code-theme-atom-one-light .hljs-attribute,
.code-theme-atom-one-light .hljs-meta .hljs-string {
  color: #50a14f;
}

.code-theme-atom-one-light .hljs-attr,
.code-theme-atom-one-light .hljs-variable,
.code-theme-atom-one-light .hljs-template-variable,
.code-theme-atom-one-light .hljs-type,
.code-theme-atom-one-light .hljs-selector-class,
.code-theme-atom-one-light .hljs-selector-attr,
.code-theme-atom-one-light .hljs-selector-pseudo,
.code-theme-atom-one-light .hljs-number {
  color: #986801;
}

.code-theme-atom-one-light .hljs-symbol,
.code-theme-atom-one-light .hljs-bullet,
.code-theme-atom-one-light .hljs-link,
.code-theme-atom-one-light .hljs-meta,
.code-theme-atom-one-light .hljs-selector-id,
.code-theme-atom-one-light .hljs-title {
  color: #4078f2;
}

.code-theme-atom-one-light .hljs-built_in,
.code-theme-atom-one-light .hljs-title.class_,
.code-theme-atom-one-light .hljs-class .hljs-title {
  color: #c18401;
}

.code-theme-atom-one-light .hljs-link {
  text-decoration: underline;
}
